{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-5 text-white" style="background-size:cover; background: url({% static 'img/background3.jpg' %}) no-repeat top center; position:relative; min-height:230px; width:100%">
    <div class="container col-md-12" style="background: rgba(39, 12, 104, 0.55); min-height:100%; position:absolute; top:0; left:0;">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4 text-white mt-5">About New Phone Sales</h1>
          <p class="lead">This section contains information about the company</p>
        </div>
      </div>
    </div>
</section>
{%  endblock %}
