{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-5 text-white" style="background-size:cover; background: url({% static 'img/background3.jpg' %}) no-repeat top center; position:relative; min-height:330px; width:100%">
    <div class="container col-md-12" style="background:rgba(97, 209, 134, 0.55); min-height:100%; position:absolute; top:0; left:0;">
        <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4 text-white mt-5">Phone Sales</h1>
              <p class="lead">Check out all new inventory!</p>
              <input type="button" class="btn btn-primary" value="Search our inventory!">
            </div>
          </div>
        </div>
    </section>
<section>
    {% if products %}
    <div class="container">
        <hr>
        <h1 class="text-center">Current Deals!</h1>    
    <div class="row">

    {% for products in products %}
    <div class="col-md-4 d-flex">
    <div class="card border-primary mt-3 mb-3">
    <div class="card-header">Name: {{product}} Type:{{viewtype}}</div>
        <div class="card-body">
            <h4 class="card-title">$ {{product.price}}</h4>
            <p class="card-text">{{product.description}}</p>
            <img src="{{ product.photo.url }}" style="height: 200px; width: 300px;" alt="Phone Image">
        </div>
        <div class="card-footer text-muted">
            <a href={% url 'product' product.id %} class="btn btn-primary btn-block">Show Details</a>
        </div>
    </div>
    </div>
    {% endfor %}
    </div>
    </div>
    {% endif %}  
</section>    
{%  endblock %}
