{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-header">{{product.name}}</div>
        <div class="card-body">
            <h4 class="card-title">{{product.name}}</h4>
        </div>
        
        <div class="card-body">
            <p class="text-center"><img src="{{ phone.photo.url }}" alt="Phone Image" style="height:700px; width:900px;"></p>
                <p class="card-text">Features</p>            
            <p class="card-text">{{product.features}}</p>
        </div>

        <input type="button" value="More Info" class="btn btn-primary" onclick="ShowMoreInfo()">
        <ul class="list-group list-group-flush">
                    
                <li class ="list-group-item" >Ram: {{product.ram}} Gigabytes</li>
                <li class = "list-group-item" >Storage: {{product.storage}}</li>
                <li class = "list-group-item" >Release Date: {{product.release}}</li>
                <li class = "list-group-item" >5G capabilities: {{product.fiveg}}</li>
                <li class = "list-group-item" >Stylus: {{product.stylus}}</li>
                <li class = "list-group-item" >Screen Size: {{product.screensize}}</li>
                <li class = "list-group-item" >Processor: {{product.cpu}}</li>
                <li class = "list-group-item" >Refresh Rate: {{product.refresh}}Hz</li>
                <li class = "list-group-item" >Weight: {{product.weight}}</li>
                <li class = "list-group-item" >Operating System: {{product.operatingsystem}}</li>
                <li class = "list-group-item" >Charger Type: {{product.charger}}</li>
                <li class = "list-group-item" >Available: {{product.count}} </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr>
<form method="POST">
    <div id="moreinfo" class="container" style="display:none;">
        <div class="row">
            <input type="hidden" name="productid" value="{{product.id}}">
            <input type="hidden" name="productname" value="{{product}}">
            <div class="col-12 text-center">
                <h3>Inquire about this phone</h3>
            </div>
            <div class="col-6">
                <label for="" class="control-label">Name:</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="col-6">
                <label for="" class="control-label">Phone:</label>
                <input type="text" class="form-control" name="phone">
            </div>
            <div class="col-6">
                <label for="" class="control-label">Message:</label>
                <textarea id="" cols="30" rows="10" class="form-control" name="message"></textarea>
            </div>
            <br>
            {% csrf_token %}
            <div class="col-3 mx-auto mt-3">
                <input type="submit" value="Send" class="form-control btn btn-primary btn-small">
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
<script>
    function ShowMoreInfo()
    {
        document.getElementById("moreinfo").style.display = "";
    }
</script>
{% endblock %}
