{% extends 'base.html' %}
{% block content %}

    {% if products %}
    <div class="container">
        <div class="row">

            {% for product in products %}
            <div class="col-md-4 d-flex">
                <div class="card border-primary mt-3 mb-3">
                    <div class="card-header">Name: {{product}} </div>
                    <div class="card-body">
                        <h4 class="card-title">$ {{product.price}}</h4>
                        <!--<p class="card-text">{{product.feature}}</p>-->
                        <!--<img src="{{ product.photo.url }}" style="height: 200px; width: 300px;" alt="Phone Image">-->
                    </div>
                    <div class="card-footer text-muted">
                        <a href="{% url 'product' product.id %}" class="btn btn-primary btn-block">Show Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}