{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="py-5 text-white" style="background-size:cover; background: url({% static 'img/background3.jpg' %}) no-repeat top center; position:relative; min-height:130px; width:100%">
    <div class="container col-md-12" style="background: rgba(32, 134, 107, 0.85); min-height:100%; position:absolute; top:0; left:0;">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4  text-white">Search My Phone Sales Site</h1>
                <p class="lead">Search for your new phone!</p>
            </div>
        </div>
    </div>
</section>
    


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form method="get">
                    <fieldset>
                        <legend>Enter your search criteria</legend>
                        <div class="form-group">
                            <label for="Features">Features:</label>
                            <input type="text" class="form-control" name="features" aria-describedby="features" placeholder="Features (e.g. Memory Size, Screen Size, 5G, etc.)">

                        </div>
                        <div class="form-group">
                            <label for="Features">Price:</label>
                            <input type="text" class="form-control" name="price" aria-describedby="features" placeholder="Price">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>

{% if products %}
<div class="container">
    <div class="row">
    {% for product in products %}
        <div class="col-md-4 d-flex">
            <div class="card boarder-primary mt-3 mb-3">
                <div class="card-header">Name: {{product}}</div>
                <div class="card_body">
                    <h4 class="car-title">$ {{product.price}}</h4>
                   <!-- <p class="card-text">{{product.features}}</p>-->
                      <!--  <img src="{{ product.photo.url}}" style="height: 200px; width: 300px;" alt="Phone Image">-->
                </div>
                <div class="card-footer text-muted">
                    <a href={% url 'product' product.id %} class="btn btn-primary btn-block">Show Details</a>
                </div>

            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}











</section>