{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4">
                <form method="POST">
                    <h3>Login</h3>
                    <p class="text-danger">{{message}}</p>
                    <div class="form-group">
                        <label form="username" class="control-label">User Name:</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label form="password" class="control-label">Password:</label>
                        <input type="text" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary">
                    </div>
                    {% csrf_token %}
                </form>
            </div>

        </div>
    </div>
{% end block %}