{% extends base.html %}

{% block content %}

    <div class="container">
      <h1>Registration Page</h1>
      <div class="row">
    <form method="POST">
        <div class="form-group">
            <label class="control-label">UserName: </label>
            <input class="form-control" type="text" name="username">
        </div>
        <div class="form-group">
            <label class="control-label">First Name: </label>
            <input class="form-control" type="text" name="firstname">
        </div>
        <div class="form-group">
            <label class="control-label">Last Name: </label>
            <input class="form-control" type="text" name="lastname">
        </div>
        <div class="form-group">
            <label class="control-label">Email Address: </label>
            <input class="form-control" type="text" name="email">
        </div>
        <div class="form-group">
            <label class="control-label">Password: </label>
            <input class="form-control" type="password" name="password">
        </div>
        <input class="form-control btn btn-secondary" type="submit" value="Submit">
        {% csrf_token %}

    </form>
</div>
</div>
{% end block %}