{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible"content="ie=edge">
        <link rel="stylesheet"href="{% static 'css/bootstrap.min.css' %}">
        <title>Phone Selections</title>
    </head>
    <body>   
        {% include 'navbar.html' %} 
        {% block content %}    
        {% endblock %}
        {% include 'footer.html' %}
    </body>
</html>