{% load static %}

<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %} ">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %} ">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'products' %} ">Phones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'search' %} ">Search</a>
  </li>      
  <li class="nav-item">
    <a class="nav-link" href="{% url 'contactus' %} ">Contact Us</a>
  </li> 
  <li class="nav-item">
    <a class="nav-link" href="{% url 'register' %} ">Register</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'login' %} ">Log In</a>
  </li>
</ul>