{% extends 'base.html' %}

{% block content %}
    <div class="container">
            <h1>Dashboard</h1>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Phone</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inquiry in inquiries %}
                            <tr>
                                <td>{{ inquiry.inquiry_date }}</td>
                                <td>{{ inquiry.productname }}</td>
                                <td>{{ inquiry.phone }}</td>
                                <td>{{ inquiry.email }}</td>
                                <td>{{ inquiry.message }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}