{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form method="POST">
                    <fieldset>
                        <legend>Contact Us</legend>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Name: </label>
                            <div class="col-sm-10">
                                <input class="form-control" name="name" type="text" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Email: </label>
                            <div class="col-sm-10">
                                <input class="form-control" name="email" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Phone Number: </label>
                            <div class="col-sm-10">
                                <input class="form-control" name="phone" type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Message: </label>
                            <div class="col-sm-10">
                                <textarea class="form-control" name="message"></textarea>
                            </div>
                        </div>
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


{% endblock %}